.resultTable {
  /* position: fixed; */
  /* top: 75%; */
  width: 100%;
  max-height: 400px;
  font-family: "Segoe UI", "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 11px;
  display: none;
  overflow-x: auto !important;
  overflow-y: auto !important;
  white-space: nowrap;
  border-radius: 2px;
  background-color: #202225;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.6);

  /* z-index: 990; */
}

.resultTable td, .resultTable th {
    padding: 8px;
}

.resultTable td{
    color: white;
}

.resultTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: "Segoe UI", "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #fdbe31;
}

.lineDivisor {
    border-bottom: solid 1px #484c52;
}

