body {
    padding: 0;
    margin: 0;
    background-color: #34363F;
    /* overflow-x: hidden; */
}

.row {
    position: absolute;
    top: 50px;
    width: 100%;
    min-width: 940px;
}

.left-column {
    float: left;
    height: 10px;
    width: 200px;
}

.right-column {
    height: 10px;
    float: right;
    width: 250px;
}

/* ################## START ################## */
/* Debug Layout purposes - Please don´t delete */
/* div {
    border: 1px solid greenyellow;
} */
/* ################### END ################### */
